@layout('admin/adminlayout')
@section('container')
        @include('admin/modules/noticias')
        @include('admin/modules/puntajes')  
        @include('admin/modules/universidades')           
@endsection