
.grey-background{
  background-image: url('edificio_entrada_B.jpg');
  background-color:rgba(70, 189, 46, 0.808);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
}
/* styles for the card */
.first{
  background-color: rgba(255, 255, 255, 0.719);
}
.title-card{
  background-color:rgba(56, 138, 59, 0.986);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:1px;
  font-size:130%;
  color:#ffffff;
  text-align:center;
  width:100%;

}
.body-card{
  background-color:#ffffff;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  font-size:100%;
  text-align:justified;
  width:100%;
}
/* styles for the list */
.list{
  list-style:none;
}

.title-list{
  color: #000000;
  font-size: 100%;
  font-weight:bold;
  width:100%;
}

.text-list{
  color: #8c8c8c;
  font-size: 80%;
  width:100%;
}
/******** styles for the modal window ************/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding:10%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#title{
  text-align: center;
  align-self: flex-start;
}
#title span{
  text-shadow:  2px 2px rgba(0, 0, 0, 0.849);
  font-size: 200% ;
  color: rgb(15, 175, 0);
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 450px;
  height:auto;
  min-height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #ffffff;
  background-color:#ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #343a40;
  color: white;
  text-align:left;
}

.modal-body {padding: 2px 16px;}

div.main{
  /*background-color: white;*/
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-top: 3%;
  margin-bottom: 3%;
  width: 95%;
  height:auto;
  /*min-width: 700px;*/
}
/* backgrounds for the index cards classifications */
.sports{
  background-color: rgba(255, 166, 0, 0.9); /* For browsers that do not support gradients */
 /* background-image: linear-gradient(to right, orange , white);/* Standard syntax (must be last) */
  align-content: center;
  margin-left: 10%;
}
.sports-item{
  display:inline-block;
  margin-left:10%;
  margin-bottom: 3%;
}
.sports-item div{
  color: #000000;
  min-width: 180px;
}
.admin{
  background-color: rgba(252, 252, 252, 0.9); /* For browsers that do not support gradients */

}
.culture{
  color:#ffffff;
  background-color: rgba(255, 0, 0, 0.9); /* For browsers that do not support gradients */
 /* background-image: linear-gradient(to right, red , white);  Standard syntax (must be last) */
}
.culture-title{
  color:#ffffff;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, black, red );/* Standard syntax (must be last) */
  text-align:left;
  width:100%;
  margin-bottom:2.5%;
  padding:0.5%;
}
.medals{
  color:#ffffff;
  background-color: #0059fff6; /* For browsers that do not support gradients */
/*  background-image: linear-gradient(to right, #007bff , white); /* Standard syntax (must be last) */
}
.medals-title{
  color:#ffffff;
  background-color: rgba(0, 89, 255, 0.9); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, black, #007bff );/* Standard syntax (must be last) */
  text-align:left;
  width:100%;
  margin-bottom:2.5%;
  padding:0.5%;
}
.guest{
  color:#ffffff;
  background-color: rgba(76, 175, 79, 0.9); /* For browsers that do not support gradients */
 /* background-image: linear-gradient(to right, #4CAF50 , white); /* Standard syntax (must be last) */
}
.guest-title{
  color:#ffffff;
  background-color: #4CAF50; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, black, #4CAF50 );/* Standard syntax (must be last) */
  text-align:left;
  width:100%;
  margin-bottom:2.5%;
  padding:0.5%;
}


.sports-title{
  color:#ffffff;
  background-color: orange; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, black, orange );/* Standard syntax (must be last) */
  text-align:left;
  width:100%;
  margin-bottom:2.5%;
  padding:0.5%;
}
.image-wrapper {
  width:90%;
  margin:5%;
  height: auto;
  background-repeat: none;
  background-size: cover;
}
.image-text{
  width:100%;
  height: 20%;
  color:#ffffff;
  text-align: left;
  font-size: 100%;
}

.c-text{
  background-color: rgba(0, 0, 0, 0.5)
}

.content-img{
  margin: 3%;
  margin-bottom: 5%;
}
/* Login Style*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
