
.grey-background{
  background-color:#f1f4f5;
}

.title-card{
  background-color:#04aef7;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:1px;
  font-size:130%;
  color:#ffffff;
  text-align:center;
  width:100%;

}
.body-card{
  background-color:#ffffff;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  font-size:100%;
  text-align:justified;
  width:100%;
}

.list{
  list-style:none;
}
.title-list{
  color: #000000;
  font-size: 100%;
  font-weight:bold;
  width:100%;
}

.text-list{
  color: #8c8c8c;
  font-size: 80%;
  width:100%;
}
