<div class="container-fluid main admin">
    <section id="uni">
        <label for="uni"><h2>Universidades</h2></label>
        <div class="content-img">
            <a class="btn btn-dark" href="#" ><img src="{{assetsUrl('img/admin/add_notice.png')}}"><br>Añadir Universidad</a>
            <a class="btn btn-dark" href="#"><img src="{{assetsUrl('img/admin/update_notice.png')}}"><br>Listar Universidades</a>
            <br><br>
        </div>
    </section>
</div>

