<div class="container main medals">
    <div class="row medals-title">
        <label for="medallero"><h1>Medallero</h1></label>
    </div>
        <div class="containet-fluid">
            contenido
        </div>
    </div>